@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .switch_button {
    @apply w-[40px] h-[22px] relative block rounded-[20px] shadow-[0_5px_15px_0_rgba(0,0,0,0.4),0_-5px_15px_rgba(255,255,255,0.4)]  
        after:w-[18px] after:h-[18px] after:absolute after:top-[1px] after:left-[1px] after:bg-gradient-to-r after:from-yellow-300 after:to-orange-500
        after:rounded-[18px] after:shadow-[0_5px_10px_0_rgba(0,0,0,0.2),0_-5px_10px_rgba(255,255,255,0.2)] active:after:w-[22px]
        dark:after:left-[39px] dark:after:bg-gradient-to-r dark:after:from-slate-600 dark:after:to-slate-100 dark:after:-translate-x-full
        border border-gray-400;
  }
}
